@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes appear {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes fill {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes invertFill {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
@keyframes bars {
  0% {
    transform: scaleY(0.5); }
  100% {
    transform: scaleY(1); } }
.load__bar--1 {
  animation-delay: 200ms; }

.load__bar--2 {
  animation-delay: 400ms; }

.load__bar--3 {
  animation-delay: 600ms; }

.load__bar--1--BG {
  background-color: #f5edff; }

.load__bar--2--BG {
  background-color: #FF79DA; }

.load__bar--3--BG {
  background-color: #9356DC; }

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0; } }
.locationBanner {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #EAEAEA;
  font-size: 19px; }
  .locationBanner__text {
    margin-left: 20px;
    font-weight: 600; }
  .locationBanner__icon {
    margin-right: 10px; }

.FirstBanner {
  padding: 20px;
  text-align: center;
  background-color: #f6f6f6; }
  .FirstBanner__title {
    margin: 0; }
  .FirstBanner__subtitle {
    font-weight: 300;
    margin: 20px; }

.restaurants {
  background-color: #f6f6f6;
  padding: 10px; }
  .restaurants__title {
    font-weight: 700; }

.cards {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .cards {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; } }

.card {
  background-color: white;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: black;
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 16px #0000002e;
  animation: appear 1.5s; }
  @media screen and (min-width: 768px) {
    .card {
      width: 33%;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 10px;
      margin-right: 10px; } }
  .card__img {
    height: 180px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; }
  .card__body {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative; }
  .card__newBadge {
    background-color: #99E2D0;
    color: #008766;
    position: absolute;
    border-radius: 3px;
    top: 15px;
    right: 10px;
    padding: 10px; }
  .card__likeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 35px;
    background-color: transparent;
    border: transparent 0px solid;
    margin: 10px; }
  .card__labels {
    flex: 1; }
  .card__title {
    margin: 0;
    margin-bottom: 10px; }
  .card__subtitle {
    margin: 0;
    font-weight: 100; }

.fonctionnementDivision {
  align-items: center;
  margin-right: 15px;
  margin-left: -10px; }

@media screen and (min-width: 768px) {
  .fonctionnementDivision {
    display: flex;
    align-items: center;
    flex-direction: column; }

  .fonctionnement__box {
    width: 30%; } }
.loaderDiv {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #99E2D0;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: load 3s;
  animation-fill-mode: both;
  flex-direction: column; }

.hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards; }

.load {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  margin-bottom: 30px; }
  .load__bar {
    height: 100%;
    width: 20px;
    animation: bars 1000ms backwards 3;
    animation-direction: alternate; }
    .load__bar--1 {
      animation-delay: 250ms; }
    .load__bar--2 {
      animation-delay: 500ms; }
    .load__bar--3 {
      animation-delay: 750ms; }

.loaderLabel {
  font-family: "Shrikhand";
  margin: 0;
  text-align: center; }

.header {
  align-items: center; }
  .header__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: black; }

.imgCoverRestaurant {
  max-width: 100%;
  max-height: 250px;
  width: 100%;
  object-fit: cover; }
  @media screen and (min-width: 768px) {
    .imgCoverRestaurant {
      max-height: 450px; } }

.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  position: relative; }
  .menu__header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .menu__title {
    font-family: "Shrikhand"; }
  .menu__btn {
    padding: 0;
    position: relative;
    height: 10px;
    width: 10px;
    cursor: pointer; }
  .menu__likeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 35px;
    padding: 0; }
  .menu__like {
    color: black; }

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none; }

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.restaurantMenu {
  display: flex;
  flex-direction: column; }

.partMenu {
  max-width: 100%;
  padding: 10px;
  animation: appear 1.5s; }
  .partMenu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    font-weight: 300; }
    .partMenu__title::after {
      content: "";
      width: 49px;
      height: 5px;
      bottom: 0px;
      left: 0px;
      background-color: #99E2D0;
      position: absolute; }

@media screen and (min-width: 768px) {
  .restaurantMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  .partMenu {
    width: 30%;
    padding: 10px;
    animation: appear 1.5s; }
    .partMenu__title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
      font-weight: 300; }
      .partMenu__title::after {
        content: "";
        width: 49px;
        height: 5px;
        bottom: 0px;
        left: 0px;
        background-color: #99E2D0;
        position: absolute; } }
.menuBox {
  background-color: white;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  max-height: 90px;
  box-shadow: 4px 4px 18px #0000002e;
  margin-bottom: 16px; }
  .menuBox:hover .menuBoxItem__confirmBox {
    opacity: 1;
    margin-right: 0px;
    transition-duration: 1s; }
    .menuBox:hover .menuBoxItem__confirmBox .confirmIcon {
      transition-duration: 1s;
      transform: rotate(360deg); }

.menuBoxItem {
  background-color: white;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  box-shadow: 0 0 16px #0000002e; }
  .menuBoxItem__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    padding: 15px; }
  .menuBoxItem__title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    text-overflow: ellipsis; }
  .menuBoxItem__description {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    text-overflow: ellipsis; }
  .menuBoxItem__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    font-weight: 700;
    font-size: 16px; }
  .menuBoxItem__confirmBox {
    color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin-right: -70px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0; }
  .menuBoxItem__confirmIcon {
    margin-top: 5px; }

.orderButtonDiv {
  padding: 20px;
  display: flex;
  justify-content: center; }

.header {
  padding: 10px;
  box-shadow: 4px 4px 18px #0000002e; }
  .header__logo {
    font-family: "Shrikhand";
    margin: 0;
    text-align: center; }

.footer {
  background-color: #353535; }
  .footer .footerDiv {
    display: flex;
    flex-direction: column;
    padding: 15px; }
  .footer__logo {
    color: white;
    font-family: "Shrikhand";
    margin: 0;
    font-size: 20px;
    margin-bottom: 25px; }
  .footer__icon {
    width: 15px;
    margin-right: 10px; }
  .footer__items {
    padding: 0px;
    margin: 0px;
    list-style: none; }
  .footer__link {
    padding-bottom: 10px;
    color: white;
    text-decoration: none; }

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none; }

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.fa-gradient {
  animation: fill 2s;
  background: linear-gradient(275deg, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.fa-gradient-black {
  animation: fill 2s;
  background: black;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.orderButton {
  display: block;
  text-align: center;
  background-image: linear-gradient(360deg, #9356DC, #FF79DA);
  color: white;
  width: 200px;
  border-radius: 30px;
  padding: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 3px 3px 16px #EAEAEA;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms; }
  .orderButton:hover {
    animation: invertFill 2s;
    box-shadow: 3px 3px 18px #0000002e; }

.homeButton {
  display: inline-block;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(360deg, #9356DC, #FF79DA);
  color: white;
  width: 200px;
  border-radius: 30px;
  padding: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 3px 3px 16px #EAEAEA;
  transition-property: transform;
  transition-duration: 400ms; }
  .homeButton:hover {
    animation: invertFill 2s;
    box-shadow: 3px 3px 18px #0000002e; }

.fonctionnement {
  background-color: #f6f6f6; }
  .fonctionnement__title {
    margin: 10px;
    font-weight: 700; }

.fonctionnement__box {
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 3px 16px #EAEAEA;
  transition-duration: 400ms; }
  .fonctionnement__box__icon {
    margin-right: 15px;
    font-weight: 700;
    cursor: pointer; }
  .fonctionnement__box__number {
    font-size: 14px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    background-color: #9356DC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -25px;
    cursor: pointer; }
  .fonctionnement__box:hover {
    color: #9356DC;
    background-color: #f5edff; }
    .fonctionnement__box:hover p {
      color: black; }

/*# sourceMappingURL=style.css.map */
