.locationBanner {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: $locationGreyBanner;
  font-size: 19px;

  &__text {
    margin-left: 20px;
    font-weight: 600;
  }

  &__icon {
    margin-right: 10px;
  }
}

.FirstBanner {
  padding: 20px;
  text-align: center;
  background-color: $lightGrey;

  &__title {
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    margin: 20px;
  }
}

.restaurants {
  background-color: $lightGrey;
  padding: 10px;

  &__title {
    font-weight: 700;
  }
}

.cards {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: black;
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;

  box-shadow: 0 0 16px $boxShadow;

  animation: appear 1.5s;

  @media screen and (min-width: 768px) {
    width: 33%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__img {
    height: 180px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
  }

  &__newBadge {
    background-color: $greenLight;
    color: $greenLabel;
    position: absolute;

    border-radius: 3px;
    top: 15px;
    right: 10px;
    padding: 10px;

  }

  &__likeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 35px;
    background-color: transparent;
    border: transparent 0px solid;
    margin: 10px;
  }

  &__labels {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 100;
  }
}

.fonctionnementDivision {
  align-items: center;
  margin-right: 15px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) {
  .fonctionnementDivision {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .fonctionnement__box {
    width: 30%;
  }
}

.loaderDiv {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $greenLight;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: load 3s;
  animation-fill-mode: both;
  flex-direction: column;
}

.hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards;
}

.load {
  width: $size*4;
  height: $size*4;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  margin-bottom: 30px;

  &__bar {
    height: 100%;
    width: $size;

    animation: bars $anim-dur backwards 3;
    animation-direction: alternate;

    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

.loaderLabel {
  font-family: "Shrikhand";
  margin: 0;
  text-align: center;
}