.footer {
    background-color: $footerBackground;

    .footerDiv {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    &__logo {
        color: white;
        font-family: "Shrikhand";
        margin: 0;
        font-size: 20px;
        margin-bottom: 25px;
    }

    &__icon {
        width: 15px;
        margin-right: 10px;
    }

    &__items {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    &__link {
        padding-bottom: 10px;
        color: white;
        text-decoration: none;
    }
}