.likeButton{
  color: $likeButtonBG;
  font-size: 23px;
  &:hover{
      background: linear-gradient(275deg, $purple, $rose);
      animation: fill 1.5s;
      font-weight: bold;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}