.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked~.unchecked {
  display: none;
}

.fa-gradient {
	background: linear-gradient(275deg, $purple, $rose);
	-webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}